.ui.vertical.menu {
    box-shadow: none;
}

.ui.attached.menu:not(.tabular) {
    border: none;
}

body {
    color: #1E1919;
    font-size: 16px;
    background-color: #F8F8F8;
}

h2 {
    font-size: 22px;
    text-align: center;
}

.my-footer {
    color: #F8F8F8;
}

.index-p {
    text-align: center;
}

header a {
    color: #1E1919;
}

header a:hover {
    color: #1E1919;
}

.logo {
    font-size: 18px;
}

form a {
    color: #1E1919;
}

form a:hover {
    color: #1E1919;
}

.droite {
    text-align: right;
}
