<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <title>WildCircus</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link rel="icon" th:href="@{/img/x-logo-small.png}" />-->
</head>
<body>
<div class="ui top attached menu">
    <div class="ui dropdown icon item">
        <i class="bars big icon"></i>
        <div class="menu">
            <div class="item">Mes cirques</div>
            <div class="item">Mes shows</div>
            <div class="item">Déconnexion</div>
        </div>
    </div>
    <div class="menu & flexmenu">
        <div class="logo">Wild Circus</div>
    </div>
</div>
<h2 class="ui header">Ajouter un show</h2>
<form class="ui form" method="post" th:action="@{/ajout-show}">
    <div class="field">
        <label>Titre du show : </label>
        <input type="text" name="title" placeholder="Titre" required>
    </div>
    <div class="field">
        <label>Commentaire : </label>
        <textarea name="comment" placeholder="Ecrivez vos commentaires sur le show" required></textarea>
    </div>
    <div class="field">
        <label>Date : </label>
        <div class="ui calendar" id="date">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="dateString" required>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Heure : </label>
        <div class="ui calendar" id="hour">
            <div class="ui input left icon">
                <i class="time icon"></i>
                <input type="text" name="hour" required>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Price : </label>
        <input type="number" name="price" placeholder="5" required>
    </div>
    <input hidden th:value="${circus.id}" th:id="${circus.id}" name="circusId">
    <button class="ui button" type="submit">Ajouter</button>
</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
    $('#date').calendar({
        type: 'date',
    });
    $('#hour').calendar({
        type: 'time'
    });
</script>
</body>
</html>
