<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <title>WildCircus</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link rel="icon" th:href="@{/img/x-logo-small.png}" />-->
</head>
<body>
<div class="ui top attached menu">
    <div class="ui dropdown icon item">
        <i class="bars big icon"></i>
        <div class="menu">
            <div class="item">Mes cirques</div>
            <div class="item">Mes shows</div>
            <div class="item">Déconnexion</div>
        </div>
    </div>
    <div class="menu & flexmenu">
        <div class="logo">Wild Circus</div>
    </div>
</div>
<h2 class="ui header">Ajouter un cirque</h2>
<form class="ui form">
    <div class="field">
        <label>Nom du cirque : </label>
        <input type="text" name="name" placeholder="Nom">
    </div>
    <div class="field">
        <label>Adresse du cirque : </label>
        <input type="text" name="adress" placeholder="Adresse">
    </div>
    <div class="field">
        <label>Téléphone du cirque : </label>
        <input type="text" name="phone" placeholder="0611111111">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>
