<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="noindex, nofollow" name="robots">
    <meta charset="UTF-8">
    <title>WildCircus</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link rel="icon" th:href="@{/img/x-logo-small.png}" />-->
</head>
<body>
<header class="ui top attached three item menu">
    <div class="item">
        <div class="ui dropdown icon item">
            <i class="bars big icon"></i>
            <div class="menu">
                <a class="item" th:href="@{mes-cirques}">Mes cirques</a>
                <a class="item" th:href="@{mes-shows}">Mes shows</a>
                <a class="item" th:href="@{/deconnexion}">Déconnexion</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui menu vertical segment">
            <div class="ui center aligned container">
                <div class="ui horizontal small divided link list">
                    <a class="logo" th:href="@{/}">Wild<br>Circus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
    </div>
</header>
<h2 class="ui header">Ajouter un cirque</h2>
<form class="ui form" method="post" th:action="@{/ajout-cirque}">
    <div class="ui placeholder middle content aligned">
        <div class="ui three column centered very relaxed stackable grid">
            <div class="column relaxed">
                <div class="field">
                    <label>Nom du cirque : </label>
                    <input name="name" placeholder="Nom" required type="text">
                </div>
                <div class="field">
                    <label>Adresse du cirque : </label>
                    <input name="address" placeholder="Adresse" required type="text">
                </div>
                <div class="field">
                    <label>Téléphone du cirque : </label>
                    <input name="phone" placeholder="0611111111" required type="tel">
                </div>
                <div class="field">
                    <label>Url de votre image : </label>
                    <input name="urlPicture" placeholder="https://shot-cropped-1551658050417.png" type="text" required>
                </div>
                <input hidden name="userId" th:id="${user.id}" th:value="${user.id}">
                <button class="ui orange button" type="submit">Ajouter</button>
            </div>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>
