<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <title>WildCircus</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--    <link rel="icon" th:href="@{/img/x-logo-small.png}" />-->
</head>
<body>
<header class="ui top attached three item menu">
    <div class="item">
        <div class="ui dropdown icon item">
            <i class="bars big icon"></i>
            <div class="menu">
                <a class="item" th:href="@{/}">Accueil</a>
                <a class="item" th:href="@{/cirques}">Les cirques</a>
                <a class="item" th:href="@{/tous-shows}">Les shows</a>
                <a class="item" th:href="@{/shows-passes}">Les shows passés</a>
                <a class="item" th:href="@{/connexion}">Se connecter</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui menu vertical segment">
            <div class="ui center aligned container">
                <div class="ui horizontal small divided link list">
                    <a class="logo" th:href="@{/}">Wild<br>Circus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
    </div>
</header>
<h2 class="ui header">S'inscrire</h2>
<form class="ui form content" method="post" th:action="@{/inscription}" th:object="${user}">
    <div class="ui placeholder middle content aligned">
        <div class="ui three column centered very relaxed stackable grid">
            <div class="column relaxed">
                <div class="field">
                    <label for="lastName">Nom</label>
                    <input th:field="*{name}" type="text" placeholder="" id="lastName" required>
                </div>
                <div class="field">
                    <label for="firstName">Prénom</label>
                    <input th:field="*{firstname}" type="text" placeholder="" id="firstName" required>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input th:field="*{email}" type="email" placeholder="" id="email" required>
                </div>
                <div class="field">
                    <label for="password">Mot de passe</label>
                    <input th:field="*{password}" type="password" placeholder="*****" id="password" required>
                </div>
                <button class="ui orange button" type="submit">S'inscrire</button>
                <br>
                <a th:href="@{/connexion}">Se connecter</a>
            </div>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>
